body.with-navbar {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f8f8f8;
}

.navbar {
    background: #2fb78f;
    border-color: #2fb78f;
}
.navbar a {
    color: #fff;
}
.navbar-header {
    text-align: center;
    width: 100%;
}
.container>.navbar-header {
    margin: 0;
}
.navbar-brand {
    float:none;
    display:inline-block;
}

.page-header {
    margin-top: 0;
    padding-top: 9px;
}

ul.input-single-select,
ul.input-multi-select {
    background: transparent;
    list-style: none;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
ul.input-single-select li,
ul.input-multi-select li {
    float: left;
    width: 49%;
    padding: 6px 20px 6px 30px;
    margin: 0;
    list-style: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
ul.input-single-select li:nth-child(2),
ul.input-multi-select li:nth-child(2) {
    margin-left: 2%;
}
ul.input-single-select li.on,
ul.input-multi-select li.on {
    border: 1px solid #5cc17f;
}

ul.input-single-select li .glyphicon,
ul.input-multi-select li .glyphicon {
    float: right;
    display: none;
    color: #2fb78f;
}
ul.input-single-select li.on .glyphicon,
ul.input-multi-select li.on .glyphicon {
    display: inline-block;
}

.select2-container .select2-selection--single {
    padding: 3px 12px 3px 8px;
    height: 34px;
    border: 1px solid #ccc;
}
.select2-container .select2-selection--single .select2-selection__arrow {
    top: 4px;
}


.btn-primary {
    background-color: #2fb78f;
    border-color: #2fb78f;
}
.btn-primary:focus,
.btn-primary.focus {
    background-color: #2fb78f;
    border-color: #2fb78f;
}
.btn-primary:hover {
    background-color: #2fb78f;
    border-color: #2fb78f;
}
.btn-primary:active,
.btn-primary.active {
    background-color: #2fb78f;
    border-color: #2fb78f;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
    background-color: #2fb78f;
    border-color: #2fb78f;
}
.btn-warning {
    background-color: #ee8718;
    border-color: #ee8718;
}
.btn-warning:focus,
.btn-warning.focus {
    background-color: #ee8718;
    border-color: #ee8718;
}
.btn-warning:hover {
    background-color: #ee8718;
    border-color: #ee8718;
}
.btn-warning:active,
.btn-warning.active {
    background-color: #ee8718;
    border-color: #ee8718;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.btn-warning:active.focus,
.btn-warning.active.focus {
    background-color: #ee8718;
    border-color: #ee8718;
}


.table>tbody>tr>td.block {
	width: 50%;
	padding: 15px 8px 15px 8px;
}
.table>tbody>tr>td.block div {
	float: left;
	width: 60%;
	padding-left: 10px;
	padding-top: 8px;
    font-size: 18px;
    color: #000;
}

.table>tbody>tr>td.block img {
	float: right;
	width: 40%;
	vertical-align:middle;
}

span.highlight {
	color: #ff3435;
	font-size: 24px;
}

.carousel, .item, .active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
.carousel-inner>.item>img.background {
    width: 100%;
    height: 100%;
}
.carousel-inner>.item>img.card {
    position: absolute;
    top: 30px;
    left: 15%;
    right: 15%;
    width: 70%;
    height: auto;
}

.carousel-indicators {
    left: 50%;
    width: 80%;
    margin-left: -40%;
}
.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #aaa6a4;
    border: 1px #ffffff solid;
    margin-left: 6px;
    margin-right: 6px;
}
.carousel-indicators .active {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
}

.carousel-control img {
    margin-top: 180px;
}

.carousel-caption {
    position: absolute;
    top: 200px;
    right: 50px;
    bottom: 150px;
    left: 50px;
    text-align: left;
}
.carousel-caption .underline {
    display: inline-block;
    height: 1px;
    width: 100px;
    background: #fff;
    margin-bottom: 8px;
}
.carousel-caption .title {
    font-size: 24px;
    font-weight: bold;
}
.carousel-caption span.highlight {
    color: #f7af39;
    font-size: 44px;
}

.top-logo {
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: auto;
}
.bottom-logo {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: auto;
}
.carousel .btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    padding: 10px 0 10px 0;
}
.carousel .view-more-card {
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    padding: 10px 0 10px 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
.carousel .card-tips {
    position: absolute;
    bottom: 180px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
